.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    height: 40px;
    padding: 10px;
    font-size: 16px;
  }
  
  .btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
  }
  
  #output1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  #output2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  #output3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  #output4 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }